* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.home {
    width: 100%;
    background: linear-gradient(to right, #090979, #00D4FF);


}

.nav {
    height: 9vh;
    width: 100%;
    background: linear-gradient(to right, #090979, #00D4FF);
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    /* box-shadow: 2px 0px 3px 0px black; */
}

h1 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}


 .nav span {
     display: flex;
     flex-direction: row;
     width: 50%;
     justify-content: end;
     gap: 5%;
     height: 9vh;
     align-items: center;
 }

 .nav>.right form {
     height: 53%;
     width: 40%;
 }

 .nav>.right input {
     box-sizing: border-box;
     height: 100%;
     width: 100%;
     padding: 2px 0px 2px 10px;
     border-radius: 12px;
     font-size: 10px;
     border: none;
 }

 .nav>.right>a {
    box-sizing: border-box;
        width: 20%;
        height: 56%;
        font-size:10px;
        background-color: darkblue;
        text-align: center;
        align-content: center;
        color: white;
        font-weight: bold;
        border-radius: 12px;
        text-transform: capitalize;
        text-decoration: none;
 }

.main {
    width: 100%;
    max-height: max-content;
    min-height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 40px 50px;
    gap: 5%;

}

.card {
    margin: 1% 0% 3% 0%;
    width: 20%;
    height: 260px;
    background-color: white;
    border-radius: 12px;
    box-sizing: border-box;
    border: 1.5px solid green;
    display: flex;
    box-shadow: 3px 3px 5px 0px green;
    flex-direction: column;
 }

.card:hover {
    box-shadow: 3px 3px 5px 0px red;
}

.card img {
    margin: 4px 0px;
    width: 90px;
    height: 80px;
    background-repeat: no-repeat;
    background-color: red;
    align-self: center;
    background-size: contain;
    border-radius: 12px;
}

.card>.content ul {
    list-style: none;
}

.card>.content {
    font-size: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
    letter-spacing: 0.5px;
    justify-content: space-evenly;
    text-transform: capitalize;

}

.card>.content>.q {
    color: indigo;
}


.card>.content>.ans {
    color: blue;
    margin-bottom:24px;
}

 .card>.btn {
     width: 100%;
     height: 12%;
     box-sizing: border-box;
     margin: 1% 0.5%;
     display: flex;
     justify-content: space-around;

 }

 .card .edit {
     width: 40%;
     height: 80%;
     text-align: center;
     align-content: center;
     background-color: darkblue;
     color: white;
     font-size:12px;
     font-weight: bold;
     border: 1px solid cyan;
     border-radius: 12px;
     text-decoration:none;
 }

 .card .delete {
     width: 40%;
     height: 80%;
     text-align: center;
     align-content: center;
     background-color: red;
     color: white;
     font-size:12px;
     font-weight: bold;
     border: 1px solid cyan;
     border-radius: 12px;
     text-decoration:none;

 }




/*
.card a {
    font-size: 12px;
    margin: auto;
    width: 60%;
    height: 12%;
    color: white;
    font-weight: bold;
    background-color: darkblue;
    text-align: center;
    align-content: center;
    border-radius: 12px;
    border: 1px solid black;
}
*/
.form {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right bottom, darkblue, gold);
    align-content: center;
    align-items:center;
    justify-items: center;

}


.form .title {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    box-sizing: border-box;
    margin: 2%;
    color: white;

}

form input,
select {
    color: green;
    height: 35px;
    width: 260px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 2% 4%;
}

select option {
    border-radius: 12px;
    color: black;

}

.form button {
    width: 150px;
    height: 30px;
    align-content: center;
    text-align: center;
    border: 0px solid black;
    border-radius: 12px;
    background-color: darkblue;
    font-weight: bold;
    color: white;
    box-shadow: 0px 0px 10px 3px gold;
    margin-left:50px;
}

.form button:hover {
    box-shadow: 0px 0px 20px 3px gold;
}

.error{
    color:black;
    font-size:9px;
    font-weight:bold;
    margin:1.5px 0px 0px 10px;
    text-transform:capitalize;

}